.home
  display: flex
  flex-flow: row wrap
  justify-content: center
  align-items: center
  width: 100vw
  height: 100vh

  .title
    flex-basis: 100%
    font-size: 6rem
    font-weight: bold
    color: $mainColor
    text-transform: capitalize
    text-align: center
    font-family: $primaryFont

  button
    display: block
    padding: 20px 40px
    border: 2px solid $mainColor
    border-radius: 5px
    margin: 10px
    width: 250px
    font-family: $secondaryFont
    font-size: 2rem
    color: #fff
    background-color: $mainColor
    outline: transparent
    cursor: pointer
    user-select: none

    &:hover
      background-color: $hoverColor

    i
      margin-left: 10px